<!-- Создаём страницу отображения всех статей -->
<h1 class='posts_head'>Статьи</h1>

<!-- Отправляет нас на страницу _post.html.erb, и т.к. мы передаём массив, то внутренним функционалом Rails (внутреннее соглашение) этот массив перебирается в файле и отображается на этой же странице  -->
<%= render @posts %>
